<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程负责人</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/echarts.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/coursePerson/js/course_value.js"></script>
</head>
<style>
    .picture{
        width: 440px;
        height: 440px;
    }
    .box{
        position: absolute;
    }
    #exit{
        position: absolute;
        top: 30px;
        right: 30px
    }
</style>
<body>
<h1 class="page-header text-center">审核课程评价值</h1>
<div class="container">
    <!--查询条件-->
    <form action="" class="form-inline">
        <div class="form-group" style="margin-left: 10px">
            <label for="class" class="control-label">班级：</label>
            <select id="class" class="form-control">
            </select>
        </div>
        <div class="form-group" style="margin-left: 20px">
            <label for="course" class="control-label">课程：</label>
            <select id="course" class="form-control" style="width: 150px">
            </select>
        </div>
        <input type="button" value="查询" id="search" class="btn btn-default" style="margin-left: 20px">
    </form>
    <div id="evaluate"></div>
    <br>
    <!--统计图-->
    <div id="pictures" style="margin-top: 30px">
    </div>
</div>
</div>
<!--无数据提示框-->
<button data-toggle="modal" data-target="#mymodal" id="ok" style="display: none"></button>
<div id="mymodal" class="modal fade">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center">暂无评价值</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
<!--审核不通过反馈弹框-->
<button data-toggle="modal" data-target="#feedbackmodal" id="no" style="display: none"></button>
<div id="feedbackmodal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="text-center">请填写反馈意见</h3>
            </div>
            <div class="modal-body">
                <textarea id="comment" placeholder="请在此处输入反馈意见" class="center-block" cols="65" rows="10" style="font-size: 16px"></textarea>
            </div>
            <div class="modal-footer">
                <button id="feedback" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>
{#注销#}
<input type="button" value="注销" class="btn btn-warning" id="exit">
</body>
</html>